

/*Palette*/

*{
  margin:0;
  padding:0;
  /*box-sizing: border-box;*/
}

test{
background-color:#EFFFFD;
background-color:#45f3e4;
background-color:#4ce4f1 ;
background-color:#22a2dd;
}

.lobster{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.img1{
    width: 130px;
    border-radius: 50%;
}

#tt{
  font-size: 5em;
}

#tt2{
  font-size: 2em;
}

.fontColor{
  color:#EFFFFD;
}

.fontSize{
  font-size: 1.3em;
}


li {
  list-style:none;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.gradient-background {
    background: linear-gradient(300deg, #45f3e4, #4ce4f1, #22a2dd);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.contHero{
      display: flex;
      flex-direction: column;
      align-items: center;
      /*background-image: linear-gradient(to bottom right,#00bfff,#45f3e4);*/
      padding: 150px;
      gap:30px;
}

.colFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.padBot{
  padding-bottom: 40px;
}

.edEx{
    display:grid;
    grid-template: 1fr / 1fr 1fr;
    margin: 20px;
    padding: 90px;
    background-image: linear-gradient(to bottom right,#45f3e4,#00bfff);
}

.projects{
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  background-image:linear-gradient(to bottom right,#00bfff,#45f3e4);
  margin: 20px;
  padding-bottom: 50px;
  padding-left: 70px;
}

.proImg{
  width: 500px;
  border-radius: 20px;
}

#projectsTitle{
  grid-column-start: 1;
  grid-column-end: 4;
  padding-top: 20px;
  padding-left: 40%;
  margin-bottom: 30px;
}

.projectsTitles{
  margin-bottom: 10px;
  padding-left: 20%;
}

#mondrianImg{
  width: 250px;
  padding-left: 16%;
}

.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) and (max-width: 576px) {
  .edEx{
    display:grid;
    grid-template: 1fr / 1fr;
    margin: 5px;
    padding: 90px;
    /*background-image: linear-gradient(to bottom right,#45f3e4,#00bfff);*/
}

  .projects{
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr ;
    background-image:linear-gradient(to bottom right,#00bfff,#45f3e4);
    margin: 5px;
   padding: 60px;
  }
  
  .proImg{
    width: 250px;
    border-radius: 20px;
  }
  
  #projectsTitle{
    grid-row-start: 1;
    grid-column-end: 1;
  }
  
  .projectsTitles{
    margin-bottom: 10px;
    padding-left: 20%;
  }
  
  #mondrianImg{
    width: 100px;
    padding-left: 16%;
  }
  .pPro{
    margin-bottom: 20px;
  }
}