

Palette

test{
background-color:#EFFFFD;
background-color:#45f3e4;
background-color:#4ce4f1 ;
background-color:#22a2dd;
}

.lobster{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.img1{
    width: 130px;
    border-radius: 50%;
}

#tt{
  font-size: 5em;
}

#tt2{
  font-size: 2em;
}

.fontColor{
  color:#EFFFFD;
}


li {
  list-style:none;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #4c58ff, #1bb93d);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

.contHero{
      display: flex;
      flex-direction: column;
      align-items: center;
      background-image: linear-gradient(to bottom right,#00bfff,#45f3e4);
      padding-bottom: 30px;
      gap:30px;
}